* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
  
}
p {
  font-family: 'Alegreya Sans', sans-serif;
}
.title {
  font-family: 'Rock Salt', cursive;
}

.pointer {
  cursor: pointer;
}

.back-hover:hover {
  background-color: rgb(238, 238, 238);
}
