* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
  /* font-family: 'Caveat', cursive;
  font-family: 'Shadows Into Light', cursive; */
}

.title {
  font-family: 'Rock Salt', cursive;
}

.pointer {
  cursor: pointer;
}

.back-hover:hover {
  background-color: rgb(238, 238, 238);
}
